.App {
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 150px);
}

.team1,
.team2 {
    height: 60%;
    width: 45%;
}

.team1 ul,
.team2 ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

.team1 h1,
.team2 h1 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}
.team1 {
    border: 10px solid blue;
}
.team2 {
    border: 10px solid red;
}

.roster ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.roster {
    width: 80%;
}

li {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
}

button {
    height: 60px;
    font-size: 24px;
    width: 200px;
    margin: 20px;
    box-shadow: 1px 1px 5px black;
}
